:root {
    --azul-escuro: #051D3B;
}

html {
    color: #FFFFFF;
    font-family: 'Inter';
}



body {
    background-color: var(--azul-escuro);
}



/*.busque{
    background-image: url(../img/author.svg);
}*/




/*Inicio do editor de código*/
/*
.editorCodigo {
    display: flex;
}

.editor textarea {
    margin: 50px;
    background-color: #141414;
    color: #FFFFFF;
    box-shadow: 0px 0px 0 20px #6BD1FF;
    border-radius: 8px;
}
*/